footer {
  background: lightblue;
  display: flex;
  justify-content: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__input {
  padding: 0.25em 0.5em;
  margin-left: 1em;
}
