.item {
  list-style: none;
  border: 1px solid grey;
  margin: 1em 1em 0.5em;
  padding: 1em;
  display: flex;
  width: 100%;
  align-items: baseline;
}

.pendingItems {
  background: hsla(28, 87%, 67%, 0.35);
  padding: 1em;
}

.doneItems {
  background: hsla(146, 50%, 36%, 0.25);
  padding: 1em;
}
