*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  position: relative;
}

main,
ul {
  width: 100%;
}

h2 {
  padding: 0.5em 1.5em;
  color: white;
  background: hsl(210, 13%, 60%);
  margin-top: 1em;
  font-family: "Courier New", Courier, monospace;
}
